server:
  port: 8000

spring:
  application:
    name: api-gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service-route
          uri: http://localhost:8080
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
jwt:
  secret: VGhpcyBpcyBhIHZlcnkgc3VwZXIgc2VjcmV0IGtleSBmb3IgZGlzdHJpYnV0ZWQgYXV0aC4=
